.headerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-small);
  background: var(--color-bg);
  opacity: 0.90;
  color: var(--color-text);
  position: fixed;
  top: 0;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;

  /* border: 2px solid var(--color-primary); */
}

.navLinks {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--padding-small);
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
  /* font-family: 'Sora', sans-serif; */
}

.navLinks span {
  margin-right: 10px;
  transition: .7s;
  border-bottom: 2px solid var(--color-bg);
  /* background: var(--color-bg);
  color: var(--color-text); */
}

.navLinks span:hover {
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

/* .one {
  background-color: var(--color-muted);
  color: var(--color-surface);
}

.two {
  background-color: var(--color-primary);
  color: var(--color-surface);
}

.three {
  background-color: var(--color-secondary);

}

.four {
  background-color: var(--color-accent);
  color: var(--color-surface);
}

.five {
  background-color: var(--color-border);
  color: var(--color-text);
}

.six {
  background-color: var(--color-code-bg);
} */

@media only screen and (min-width: 481px) {
  .headerBody {
    padding: var(--padding-medium);
    flex-direction: row;
  }

  .navLinks {
    padding-bottom: 0;
  }
}