.skillsContainer {
  padding: var(--padding-small);
  margin-top: 60px;
  text-align: center;
}

.skillsContainer > h1 {
  text-align: center;
}

.skillSection {
  padding: var(--padding-small);
  margin-bottom: var(--padding-small);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillSection > h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--color-primary);
  /* text-decoration: underline; */
}

.skillSection > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.skillSection > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.skillSection > div > div > img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

@media only screen and (min-width: 481px) {
  .skillsContainer {
    padding: var(--padding-medium);
    margin-top: 40px;
  }

  .skillSection > div  {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }

  .skillSection > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.skillSection > div > div > img {
  width: 80px;
  height: 80px;
  margin-right: 8px;
}
}